<!DOCTYPE html>
<html>
<head>
  <title>Invitable</title>
  <%= stylesheet_link_tag    "invitable/application", :media => "all" %>
  <%= javascript_include_tag "invitable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
